// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  ion-app.ios,
  ion-app.md,
  ion-app.wp {
    --ion-font-family: "Open Sans" !important;
    font-family: "Open Sans" !important;
  }
